<style type="text/css">
body
{
background-color:#d0e4fe;
}
h1
{
color:#342D7E;
text-align:center;
}
input[type="button"], input[type="submit"] { 
color:#d0e4fe; 
font: helvetica;
background-color:#342D7E;  
border:1px solid; 
} 
input[type="text"]{
color:#342D7E; 
font: helvetica;
font-size:20px;
}
</style>
