<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<script type="text/javascript" src="socket.io/socket.io.js"></script>
		<script type="text/javascript" src="javascripts/jquery-1.9.0.min.js"></script>
		<script type="text/javascript">
			$(function () {
				//creates socket variable on connection. Connects to server.
				var socket = io.connect();
				var id = <%=id%>;
				var feed = $('#feed');
				 socket.on('connect', function () {
					var info = new Array(id,"Activity");
					socket.emit('setUp',info);
					
					socket.on('follow', function(pair){
						var follower = pair.me;
						var followee = pair.them;
						var n = feed.children("li").length;
						if(n > 10) $('#feed li:last-child').remove();
						var listItem = $('<li id="' + follower + followee + '">' + follower + ' just started following ' + followee + '!</li>');
						feed.prepend(listItem);
					});
					
				});
			});
		</script>
	</head>
	<body>
		<header>
			<h1>Twitter</h1>
			<nav>
				<ul>
				  <li><a href = "/home">Home</a></li>
				  <li><a href = "/connect">Connect</a></li>
				  <li><a href = "/discover">Discover</a></li>
				  <li><a href = "/me">Me</a></li>
				  <li><a href = "/search">Search</a></li>
				  <li><a href = "#">Options</a>
					<ul>
						<li><a href = "/profile">Edit Profile</a></li>
						<li><a href = "/lists">Lists</a></li>
						<li><a href = "/help">Help</a></li>
						<li><a href = "/settings">Account Settings</a></li>
						<li><a href = "/signout">Sign Out</a></li>
					</ul>
				  </li>
				  <li><a href = "/compose">Compose</a></li>
				</ul>
			</nav>
		</header>
		<aside>
			<ul>
				<li><a href = "/discover">Tweets</a></li>
				<li><a href = "/activity">Activity</a></li>
				<li><a href = "/findFriends">Find Friends</a></li>
				<li><a href = "/browseCategories">Browse Categories</a></li>
			</ul>
		</aside>
		<div id = 'display'>
			<h2>Current Activity <%=username%></h2>
			<ul id = 'feed'>
			<li id ="1"> Here originally </li>
			<li id ="2"> Here originally </li>
			</ul>
		</div>
	</body>
</html>
