<!DOCTYPE html>
<html>
  <head><title><%= title %>r</title></head>
	<body>
		<h1><center>Create a Tweet</center> </h1>
		<form name = 'createTweet'>
		<br>
		 <input type="text" name = 'tweet'>
		<br>
			<input type="submit" value="Tweet" onClick="tweet(this.form);">
		</form>
	</body>
</html>
