<!DOCTYPE html>
<html>
  <head><title><%= title %></title></head>
	<body>
		<body>
		<header>
			<h1>Twitter</h1>
			<nav>
				<ul>
				  <li><a href = "/home">Home</a></li>
				  <li><a href = "/connect">Connect</a></li>
				  <li><a href = "/discover">Discover</a></li>
				  <li><a href = "/me">Me</a></li>
				  <li><a href = "/search">Search</a></li>
				  <li><a href = "#">Options</a>
					<ul>
						<li><a href = "/profile">Edit Profile</a></li>
						<li><a href = "/lists">Lists</a></li>
						<li><a href = "/help">Help</a></li>
						<li><a href = "/settings">Account Settings</a></li>
						<li><a href = "/signout">Sign Out</a></li>
					</ul>
				  </li>
				  <li><a href = "/compose">Compose</a></li>
				</ul>
			</nav>
		</header>
		<h2><center>Create a Tweet</center> </h2>
		<%=message%>
		<br>
		<form name = 'createTweet' method="post">
		<br>
		 <input type="text" name = 'tweet'>
		<br>
			<input type="submit" value="Tweet">
		</form>
	</body>
</html>
