<!DOCTYPE html>
<html>
  <head><title><%= title %></title></head>
	<body>
		<header>
			<h1>Twitter</h1>
			<nav>
				<ul>
				  <li><a href = "/home">Home</a></li>
				  <li><a href = "/connect">Connect</a></li>
				  <li><a href = "/discover">Discover</a></li>
				  <li><a href = "/me">Me</a></li>
				  <li><a href = "/search">Search</a></li>
				  <li><a href = "#">Options</a>
					<ul>
						<li><a href = "/profile">Edit Profile</a></li>
						<li><a href = "/lists">Lists</a></li>
						<li><a href = "/help">Help</a></li>
						<li><a href = "/settings">Account Settings</a></li>
						<li><a href = "/compose">Sign Out</a></li>
					</ul>
				  </li>
				  <li><a href = "#">Compose</a></li>
				</ul>
			</nav>
		</header>
		<aside>
			<ul>
				<li><a href = "/discover">Tweets</a></li>
				<li><a href = "/activity">Activity</a></li>
				<li><a href = "/findFriends">Find Friends</a></li>
				<li><a href = "/browseCategories">Browse Categories</a></li>
			</ul>
		</aside>
		<div id = 'display'>
			<h2>Discover More <%=username%></h2>
			<ul>
				<li>Tweets</li>
				<li>What's happening now, tailored for you.</li>
				<li>Tweets</li>
				<li>What's happening now, tailored for you.</li>
				<li>Tweets</li>
				<li>What's happening now, tailored for you.</li>
			</ul>
		</div>
	</body>
</html>
