<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<script type="text/javascript"
        src="socket.io/socket.io.js">
</script>
<script type="text/javascript" src="javascripts/jquery-1.9.0.min.js"></script>
	</head>
	<body>
		<header>
			<h1>Twitter</h1>
			<nav>
				<ul>
				  <li><a href = "/home">Home</a></li>
				  <li><a href = "/connect">Connect</a></li>
				  <li><a href = "/discover">Discover</a></li>
				  <li><a href = "/me">Me</a></li>
				  <li><a href = "/search">Search</a></li>
				  <li><a href = "#">Options</a>
					<ul>
						<li><a href = "/profile">Edit Profile</a></li>
						<li><a href = "/lists">Lists</a></li>
						<li><a href = "/help">Help</a></li>
						<li><a href = "/settings">Account Settings</a></li>
						<li><a href = "/signout">Sign Out</a></li>
					</ul>
				  </li>
				  <li><a href = "/compose">Compose</a></li>
				</ul>
			</nav>
		</header>
		<aside>
			<ul>
				<li><a href = "/me">Tweets</a></li>
				<li><a href = "/following">Following</a></li>
				<li><a href = "/followers">Followers</a></li>
				<li><a href = "/favorites">Favorites</a></li>
				<li><a href = "/lists">Lists</a></li>
			</ul>
		</aside>
		<div id = "avatar">
			<img src = "avatar.png" height = "300" width = "284">
		</div>
		<section id = "Following">
			<h2><%=username%> is Following:</h2>
			<%for(var i = 0; i< following.length; i++){%>
				<li><%=following[i]%></li>
				<%}%>
		</section>
	</body>
</html>
