<!DOCTYPE html>
<html>
  <head><title><%= title %>r</title></head>
	<body>
		<h1><center>Help Center</center> </h1>
		<div id='FAQ'>
		<ul>
			<li>FAQ Item 1 - ex: What if I forgot my password?</li>
			<li>FAQ Item 2 - ex: How do I tweet?</li>
			<li>FAQ Item 3 - </li>
			<li>FAQ Item 4 - </li>
			<li>FAQ Item 5 - </li>
		</ul>
	</div>
	</body>
</html>
