<!DOCTYPE html>
<html>
  <head><title><%= title %></title></head>
	<body>
		<header>
			<h1>Twitter</h1>
			<nav>
				<ul>
				  <li><a href = "/home">Home</a></li>
				  <li><a href = "/connect">Connect</a></li>
				  <li><a href = "/discover">Discover</a></li>
				  <li><a href = "/me">Me</a></li>
				  <li><a href = "/search">Search</a></li>
				  <li><a href = "#">Options</a>
					<ul>
						<li><a href = "/profile">Edit Profile</a></li>
						
						<li><a href = "/help">Help</a></li>
						<li><a href = "/settings">Account Settings</a></li>
						<li><a href = "/signout">Sign Out</a></li>
					</ul>
				  </li>
				  <li><a href = "/compose">Compose</a></li>
				</ul>
			</nav>
		</header>
		<aside>
			<ul>
				<li><a href = "#getting-started">Getting Started</a></li>
				<li><a href = "#faqs">FAQs</a></li>
				<li><a href = "#how-to">How to</a></li>
				<li><a href = "#glossary">Glossary of Terms</a></li>
			</ul>
		</aside>
		<div id = "display">
			<h2>Help Center</h2>
			
			<div id = "getting-started">
				<h3>Getting Started</h3>
				<ul>
					<li>
						<h4>Welcome</h4>
						<p>Welcome to Twitter, a service for friends, family, and co-workers to communicate and stay connected through the exchange of quick, frequent messages. People write short updates, often called "tweets" of 140 characters or fewer. These messages are posted to your profile, sent to your followers, and are searchable on Twitter search. Twitter contains information you will find valuable. Messages from users you choose to follow will show up on your home page for you to read. It's like being delivered a newspaper whose headlines you'll always find interesting. You can discover news as it's happening, learn more about topics that are important to you, and get the inside scoop in real time.</p>
					</li>
					<li>
						<h4>How to start using Twitter:</h4>
						<p>If you remember one thing after perusing this page, it should be this: reading tweets and discovering new information whenever you check in on your Twitter <a href = "#glossary-timeline">timeline</a> is where you'll find the most value on Twitter. Some people find it useful to contribute their own tweets, but the real magic of Twitter lies in absorbing real-time information that matters to you.</p>
						<ul>
							<li>
								<h5>1. DISCOVER SOURCES: Find and follow others</h5>
								<p>It's best to begin your journey by finding and <a href = "#glossary-follow">following</a> other interesting Twitter accounts. Look for businesses you love, public service accounts, people you know, celebrities, or news sources you read. Tip: One great way to find more interesting accounts is see who those you know or admire are following. Learn how to find others <a href = "#how-to-search">here</a>, and how to follow others <a href = "#how-to-follow">here</a>.</p>
							</li>
							<li>
								<h5>2. CHECK IT OFTEN: Pay attention to what's happening</h5>
								<p>Messages from others you follow will show up in a readable stream on your Twitter <a href = "#glossary-home">home page</a>. Once you've followed a few people, you'll have a new page of information to read each time you log in. Click links in others' tweets to view images they've linked to. Click <a href = "#glossary-hashtag">hashtagged</a> keywords (<a href = "#glossary-number-sign">#</a>) to view all tweets about that topic.</p>
							</li>
							<li>
								<h5>3. WRITE YOUR OWN: tweet your thoughts</h5>
								<p>Write your own content and post it to Twitter. Post your messages for friends, family, and for people you have yet to meet. If your posts are worth reading, you will most likely gain a following. Additionally, you can include images, audio, and links in your messages. Learn how to tweet <a href = "#how-to-tweet">here</a>.</p>
							</li>
						</ul>
					</li>
					<li>
						<h4>How to start tweeting:</h4>
						<p>Many users find it fun or exciting to contribute their own content to Twitter (we call this "tweeting"). If you're one of them, here are some good ways to get started posting your own tweets. People who are interested in what you have to say may follow you and they'll see all the tweets you share with them.</p>
						<ul>
							<li>
								<h5>1. BUILD A VOICE: Retweet, reply, react</h5>
								<p>Use existing information (other people's tweets) on Twitter to find your own voice and show others what you care about. <a href = "#glossary-retweet-verb">Retweet</a> messages you've found and love, or <a href = "#glossary-reply">@reply</a> with your reaction to a tweet you find interesting. Tip: If you're a new user, others are more likely to find your messages if they are Retweets or @replies.</p>
							</li>
							<li>
								<h5>2. MENTION: Include others in your content</h5>
								<p>Once you're ready to begin authoring your own messages, consider <a href = "#glossary-mention">mentioning</a> other users by their Twitter username (preceded by the <a href = "#glossary-at-sign">@ sign</a>) in your tweets. This can help you think of what to write, will draw more eyes to your message, and can even start a new conversation. Try posting a message mentioning a celebrity or person you admire, they often respond to fans. You'll see their response on your Mentions tab. Tip: Can't think of anything to write? You don't have to. The real magic lies in your reading of content on Twitter.</p>
							</li>
							<li>
								<h5>3. GET FANCY: Explore advanced features</h5>
								<p>As you become more engaged on Twitter, others will begin to find and follow you. Once you're familiar with Twitter basics, consider exploring the site's more advanced features: lists, favorites, and other features. Learn how to include images or videos in your tweets. Tip: The best way to gain followers on Twitter is to regularly engage and contribute in a meaningful way.</p>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<div id = "faqs">
				<h3>Frequently Asked Questions (FAQs)</h3>
				<ul>
					<li>
						<h4>What is Twitter?</h4>
						<p>Twitter is an information network made up of 140-character messages called tweets. It's an easy way to discover the latest news related to subjects you care about.</p>
					</li>
					<li>
						<h4>Do I need anything special to use it?</h4>
						<p>All you need to use Twitter is an internet connection or a mobile phone. Join us here! Once you're in, begin finding and following accounts whose tweets interest you. We'll recommend great accounts once you're signed up.</p>
					</li>
					<li>
						<h4>Why 140 characters?</h4>
						<p>We like to keep it short and sweet! It also just so happens that 140 characters is the perfect length for sending status updates via text message. The standard text message length in most places is 160 characters per message. We reserve 20 characters for people's names, and the other 140 are all yours!</p>
					</li>
					<li>
						<h4>How do I find people to follow?</h4>
						<p>When you create an account, you can search for people by name or user name, import friends from other networks, or invite friends via email.</p>
					</li>
					<li>
						<h4>What does it mean to follow someone on Twitter?</h4>
						<p>Following someone means you've chosen to subscribe to their Twitter updates. When you follow someone, every time they post a new message, it will appear on your Twitter home page.</p>
					</li>
					<li>
						<h4>Can I edit a tweet once I've posted it?</h4>
						<p>No. Once a tweet has been posted, it can't be changed. You can delete an tweet by clicking the trash icon on at the end of it.</p>
					</li>
					<li>
						<h4>How do I begin tweeting?</h4>
						<p>Instructions on how to tweet can be found <a href="#how-to-tweet">here</a>. Additionally, instructions on how to delete a tweet can be found <a href="#how-to-tweet-delete">here</a>. Instructions on how to retweet can be found <a href="#how-to-retweet">here</a>.</p>
					</li>
					<li>
						<h4>How do I begin following others?</h4>
						<p>Instructions on how to follow can be found <a href="#how-to-follow">here</a>. Additionally, instructions on how to unfollow can be found <a href="#how-to-unfollow">here</a>.</p>
					</li>
					<li>
						<h4>How do I find friends and family on Twitter?</h4>
						<p>Instructions on how find people on Twitter can be found <a href="#how-to-search">here</a>.</p>
					</li>
					<li>
						<h4>How do I mention another user in my tweets?</h4>
						<p>Instructions on how to mention another user in a tweet can be found <a href="#how-to-mention">here</a>.</p>
					</li>
					<li>
						<h4>How do I reply to another user's tweets?</h4>
						<p>Instructions on how to reply to a tweet can be found <a href="#how-to-reply">here</a>.</p>
					</li>
					<li>
						<h4>How do I use hashtags to organize my tweets?</h4>
						<p>Instructions on how to use hashtags can be found <a href="#how-to-hashtags">here</a>. Additionally, instructions on the proper useage of hashtags can be found <a href="#how-to-hashtags-correct">here</a>.</p>
					</li>
				</ul>
			</div>
			<div id = "how-to">
				<h3>How to</h3>
				<ul>
					<li id = "how-to-tweet">
						<h4>How to tweet:</h4>
						<ol>
							<li>Sign in to your Twitter account.</li>
							<li>Type your tweet into the box on the left side of your screen, or click the compose new tweet button in the top navigation bar.</li>
							<li>Make sure your update is fewer than 140 characters.</li>
							<li>Click the tweet button to post the tweet to your profile.</li>
							<li>You will immediately see your tweet in the timeline on your home page.</li>
						</ol>
					</li>
					
					<li id = "how-to-tweet-delete">
						<h4>How to delete a tweet:</h4>
						<ol>
							<li>Sign in to your Twitter account.</li>
							<li>Visit your Profile page.</li>
							<li>Locate the tweet you want to delete.</li>
							<li>Hover your mouse over the message and click Delete.</li>
							<li>Done! Your tweet has been deleted.</li>
						</ol>
					</li>
					
					<li id = "how-to-search">
						<h4>How to search for people:</h4>
						<ol>
							<li>Type the person's name into the search box at the top of your Twitter <a href = "#glossary-home">Home page</a>, or use the <a href = "#glossary-search">Search page</a>.</li>
							<li>Results for your search will show up under the People tab on the search results page.</li>
							<li>You can also search by typing the person's name into the search box on the <a href = "#glossary-connect">Connect page</a>.</li>
						</ol>
					</li>
					
					<li id = "how-to-follow">
						<h4>How to follow:</h4>
						<ol>
							<li>Click on a username or navigate to a user's profile.</li>
							<li>Click the Follow button when you see it next to a user's profile photo or on a user's profile page.</li>
						</ol>
					</li>
					
					<li id = "how-to-unfollow">
						<h4>How to unfollow:</h4>
						<ol>
							<li>Click on Following on your home page or profile page, or go to the profile page of the user you'd like to unfollow.</li>
							<li>Hover over the Following button, it will change to an Unfollow button.</li>
							<li>Click the button to unfollow the account.</li>
						</ol>
					</li>
					
					<li id = "how-to-retweet">
						<h4>How to retweet:</h4>
						<ol>
							<li>Hover over a tweet that you would like to <a href = "#glossary-retweet">retweet</a>.</li>
							<li>Click the Retweet link.</li>
							<li>A pop-up will show you the tweet you're about to retweet and will ask you to confirm.</li>
							<li>Click the Retweet button.</li>
							<li>The tweet will then be shared with all of your followers!</li>
						</ol>
					</li>
					
					<li id = "how-to-retweet-comment">
						<h4>How to retweet and add your own comments (RT):</h4>
						<ol>
							<li>Copy the content of the tweet you'd like to share as a <a href = "#glossary-retweet">retweet</a>. (Note: this only works if the tweet is much shorter than 140 characters. We recommend using the official retweet button.)</li>
							<li>Open a new tweet box and paste the content into the message.</li>
							<li>Add the letters RT and the tweet author's @username to show that it's a retweet and isn't your own content.</li>
							<li>Add your comment at the beginning of the message, as shown below.</li>
							<li>Click tweet to post the message to your followers.</li>
						</ol>
					</li>
					
					<li id = "how-to-hashtags">
						<h4>How to use hashtags to categorize tweets by keyword:</h4>
						<ul>
							<li>People use the <a href = "#glossary-hashtag">hashtag</a> symbol <a href = "#glossary-number-sign">#</a> before a relevant keyword or phrase (no spaces) in their tweet to categorize those tweets and help them show more easily in Twitter Search.</li>
							<li>Clicking on a hashtagged word in any message shows you all other tweets marked with that keyword.</li>
							<li>Hashtags can occur anywhere in the tweet – at the beginning, middle, or end.</li>
							<li>Hashtagged words that become very popular are often Trending Topics..</li>
						</ul>
					</li>
					
					<li id = "how-to-hashtags-correct">
						<h4>How to use hashtags correctly:</h4>
						<ul>
							<li>If you tweet with a <a href = "#glossary-hashtag">hashtags</a> on a public account, anyone who does a search for that hashtag may find your tweet.</li>
							<li>Don't #spam #with #hashtags. Don't over-tag a single tweet. (Best practices recommend using no more than 2 hashtags per tweet.)</li>
							<li>Use hashtags only on tweets relevant to the topic.</li>
						</ul>
					</li>
					
					<li id = "how-to-reply">
						<h4>How to post an @reply:</h4>
						<ul>
							<li>Find the tweet you want to <a href = "#glossary-reply">@reply</a> to.</li>
							<li>Hover over the tweet and click on Reply.</li>
							<li>A tweet box will pop up with the @username of the account you are replying to already added at the beginning of the tweet. Complete your @reply and click tweet to post it.</li>
						</ul>
					</li>
					
					<li id = "how-to-mention">
						<h4>How to post a mention:</h4>
						<ul>
							<li><a href = "#glossary-mention">Mention</a> names by typing your tweet as you normally would, but replace any names you include with that person's @username. For example: "I love @Twitter!"</li>
							<li>Click tweet to post it.</li>
							<li>Our system will recognize and link to the @username in the tweet.</li>
						</ul>
					</li>
				</ul>
			</div>
			
			<div id = "glossary">
				<h3>Glossary</h3>
				<dl>
					<dt id="glossary-number-sign">#</dt>
					<dd>See <a href = "#glossary-hashtag">"Hashtags"</a></dd>
					
					<dt id="glossary-at-sign">@</dt>
					<dd>The @ sign is used to call out usernames in tweets, like this: Hello @Twitter! When a <a href = "#glossary-username">username</a> is preceded by the @ sign, it becomes a link to a Twitter profile. See also <a href = "#glossary-reply">"Replies"</a> and <a href = "#glossary-mention">"Mentions"</a>.</dd>
					
					<dt id="glossary-activity">Activity</dt>
					<dd>Lives in the <a href = "#glossary-connect">"Connect"</a> tab. Activity is a real-time dashboard to view what the people you're following are up to on Twitter. You can view tweets they've favorited and discover other good content on Twitter.</dd>
					
					<dt id="glossary-avatar">Avatar</dt>
					<dd>See <a href = "#glossary-profile-picture">"profile picture"</a>.</dd>
					
					<dt id="glossary-bio">Bio</dt>
					<dd>A short personal description of 160 characters or fewer used to define who you are on Twitter. Edit your bio <a href = "/profile">here</a>.</dd>
					
					<dt id="glossary-connect">Connect</dt>
					<dd>The Connect tab lets you view interactions, mentions, recent follows and Retweets. Using the Connect tab you're able to view who has favorited or retweeted your tweets, who has recently followed you, and all of your @replies and @mentions. Visit the Connect tab <a href = "/connect">here</a>.</dd>
					
					<dt id="glossary-discover">Discover</dt>
					<dd>The Discover tab is where you'd find top tweets, Who to Follow, Activity, Find Friends, and Browse Categories. The Discover tab is all about, you guessed it, discovering new and engaging things to do on Twitter! Visit the Discover tab <a href = "/discover">here</a>.</dd>
					
					<dt id="glossary-follow">Follow</dt>
					<dd>To follow someone on Twitter is to subscribe to their tweets or updates on the site. Learn how to follow someone <a href = "#how-to-follow">here</a>.</dd>
					
					<dt id="glossary-follow-count">Follow Count</dt>
					<dd>The numbers that reflect how many people you follow, and how many people follow you. Found on your Twitter profile.</dd>
					
					<dt id="glossary-follower">Follower</dt>
					<dd>A follower is another Twitter user who has followed you.</dd>
					
					<dt id="glossary-following">Following</dt>
					<dd>Your following number reflects the quantity of other Twitter users you have chosen to follow on the site.</dd>
					
					<dt id="glossary-handle">Handle</dt>
					<dd>A user's "Twitter handle" is the username they have selected and the accompanying URL. See also <a href = "#glossary-username">username</a>.</dd>
					
					<dt id="glossary-hashtag">Hashtag</dt>
					<dd>The # symbol is used to mark keywords or topics in a tweet. It was created organically by Twitter users. Learn how to use hashtags <a href = "#how-to-hashtags">here</a>.</dd>
					
					<dt id="glossary-home">Home</dt>
					<dd>A real-time list of tweets from those you follow. It appears on your Twitter home page. Visit your home page <a href = "/home">here</a>.</dd>
					
					<dt id="glossary-interactions">Interactions</dt>
					<dd>A timeline in the <a href = "#glossary-connect">Connect</a> tab displaying all ways other users have interacted with your account, like aping you to a list, sending you a @reply, marking one of your tweets as a Favorite, retweeting one of your tweets.</dd>
					
					<dt id="glossary-log-in">Log In</dt>
					<dd>The act of signing in to one's Twitter account.</dd>
					
					<dt id="glossary-mention">Mention</dt>
					<dd>Mentioning another user in your tweet by including the <a href = "#glossary-at-sign">@</a> sign followed directly by their <a href = "#glossary-username">username</a> is called a "mention". Also refers to tweets in which your username was included. Learn how to mention another user <a href = "#how-to-mention">here</a>.</dd>
					
					<dt id="glossary-name">Name</dt>
					<dd>A name that can be different from your <a href = "#glossary-username">username</a> and is used to locate you on Twitter. Must be 20-characters or fewer. You can change your name <a href = "/profile">here</a>.</dd>
					
					<dt id="glossary-profile">Profile</dt>
					<dd>A Twitter page displaying information about a user, as well as all the tweets they have posted from their account. You can visit your profile <a href = "/profile">here</a>.</dd>
					
					<dt id="glossary-profile-picture">Profile Picture</dt>
					<dd>The personal image uploaded to your Twitter profile in the Settings tab of your account. You can change your profile picture <a href = "/profile">here</a>.</dd>
					
					<dt id="glossary-query">Query</dt>
					<dd>A search performed to retrieve information from a database. Learn how to search for people <a href = "#how-to-search">here</a>.</dd>
					
					<dt id="glossary-reply">Reply</dt>
					<dd>A tweet posted in reply to another user's message, usually posted by clicking the "reply" button next to their tweet in your timeline. Always begins with <a href = "#glossary-at-sign">@</a>username. Learn how to reply <a href = "#how-to-reply">here</a>.</dd>
					
					<dt id="glossary-retweet-noun">Retweet (noun)</dt>
					<dd>A tweet by another user, forwarded to you by someone you follow. Often used to spread news or share valuable findings on Twitter.</dd>
					
					<dt id="glossary-retweet-verb">Retweet (verb)</dt>
					<dd>To retweet, retweeting, retweeted. The act of forwarding another user's tweet to all of your followers. Learn how to retweet <a href = "#how-to-retweet">here</a>.</dd>
					
					<dt id="glossary-rt">RT</dt>
					<dd>Abbreviated version of "retweet." placed before the retweeted text when users manually retweet a message. See also <a href = "#glossary-retweet-noun">Retweet</a>.</dd>
					
					<dt id="glossary-screencast">Screencast</dt>
					<dd>A digital recording (video) of a computer screen's output.</dd>
					
					<dt id="glossary-screenshot">Screenshot</dt>
					<dd>An image captured on your computer or phone displaying your screen's output. Often used to share information with Twitter support agents while troubleshooting.</dd>
					
					<dt id="glossary-search">Search (Integrated Search)</dt>
					<dd>A box on your Twitter home page that allows you to search all public tweets for keywords, usernames, hashtags, or subject. Learn how to search for people <a href = "#how-to-search">here</a>. Visit the search tab <a href = "/search">here</a>.</dd>
				
					<dt id="glossary-sms">SMS</dt>
					<dd>Short Message Service (SMS) is most commonly known as text messaging. Most messages are a maximum of 140 characters.</dd>
				
					<dt id="glossary-spam">Spam</dt>
					<dd>Unwanted messaging or following on Twitter. We work hard to eliminate it.</dd>
				
					<dt id="glossary-timeline">Timeline</dt>
					<dd>A real-time list of tweets on Twitter on your home page. See also <a href = "#glossary-home">Home</a>.</dd>
				
					<dt id="glossary-timestamp">Timestamp</dt>
					<dd>A note displaying when a tweet was posted to Twitter. Can be found in grey text directly below any tweet.</dd>
				
					<dt id="glossary-tl">TL</dt>
					<dd>Short for "Timeline." See also <a href = "#glossary-timeline">Timeline</a> and <a href = "#glossary-home">Home</a>.</dd>
				
					<dt id="glossary-tweet-verb">tweet (verb)</dt>
					<dd>tweet, tweeting, tweeted. The act of posting a message, often called a "tweet", on Twitter. Learn how to tweet <a href = "#how-to-tweet">here</a>.</dd>
				
					<dt id="glossary-tweet-noun">tweet (noun)</dt>
					<dd>A message posted via Twitter containing 140 characters or fewer.</dd>
				
					<dt id="glossary-tweeter">tweeter</dt>
					<dd>An account holder on Twitter who posts and reads tweets. Also known as <a href = "#glossary-twitterer">Twitterers</a>.</dd>
				
					<dt id="glossary-twitter">Twitter</dt>
					<dd>An information network made up of 140-character messages from all over the world.</dd>
				
					<dt id="glossary-twitterer">Twitterer</dt>
					<dd>An account holder on Twitter who posts and reads tweets. Also known as <a href = "#glossary-tweeter">tweeter</a>.</dd>
					
					<dt id="glossary-unfollow">Unfollow</dt>
					<dd>To cease following another Twitter user. Their tweets no longer show up in your home timeline. Learn how to unfollow <a href = "#how-to-unfollow">here</a>.</dd>
				
					<dt id="glossary-url">URL</dt>
					<dd>A Uniform Resource Locator (URL) is a web apress that points to a unique page on the internet</dd>
				
					<dt id="glossary-username">Username</dt>
					<dd>Also known as a Twitter <a href = "#glossary-handle">handle</a>. Must be unique and contain fewer than 15 characters. Is used to identify you on Twitter for replies and mentions. You can change your username <a href = "/settings">here</a>.</dd>
				</dl>
			</div>
		</div>
	</body>
</html>


