<!DOCTYPE html>
<html>
	<head><title><%= title %>r</title></head>
	<ul id="MenuBar" class="MenuBarHorizontal">
	  	<li><a href="/">Home</a>
	  </li>
	  <li><a  href = "/connect">Connect</a>
	  </li>
	  <li><a href = "/discover">Discover</a>
	  </li>
	  <li><a href="/me">Me</a></li>
	  <li><a class="MenuBarItemSubmenu" href="#">Options</a>
	        <ul>
	          <li><a href="#">option1</a></li>
	          <li><a href="#">Option 2</a></li>
	        </ul>
	  </li>
	  <li><a href="#">compose</a></li>
	</ul>
	<div id='sidebar'>
		<ul>
			<li>Tweets</li>
			<li>Following</li>
			<li>Followers</li>
			<li>Favorites</li>
			<li>Lists</li>
		</ul>
	</div>

</html>
