<!DOCTYPE html>
<html>
  <head><title><%= title %>r</title></head>
	<body>
		<h1><center>Create an Account</center> </h1>
		<form name = 'newUser' method = 'post' action= '/signup'>
		<br>
			Name: <input type="name" name="name">
			<br>
			Email: <input type="email" name="email">
			<br>
			Password: <input type="password" name="password" >
			<br>
			Confirm Password: <input type="confirmpassword" name="confirmpassword">
			<br>
			Username: <input type="username" name="username">
			<br>
			<input type="submit" value="Create Account" onClick="CreateAccount(this.form);">
		</form>
	</body>
</html>
