<!DOCTYPE html>
<html>
  <head>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<title><%= title %></title>
</head>
	<body>
		<div id="authContainer">
			<header>
				<h1><center>Create an Account</center></h1>
			</header>
			<form name="newUser" method="post" action="/signup">
				<label for="name">Name:</label>
				<input type="text" name="name" id="name">
				
				<label for="email">Email:</label>
				<input type="email" name="email" id="email">
				
				<label for="username">Username:</label>
				<input type="text" name="username" id="username">
				
				<label for="password">Password:</label>
				<input type="password" name="password" id="password">
				
				<label for="confirmPassword">Confirm Password:</label>
				<input type="password" name="confirmPassword" id="confirmPassword">
				
				<div>
					<input type="submit" value="Create" onClick="CreateAccount(this.form);">
				</div>
			</form>
		</div>
	</body>
</html>
