<!DOCTYPE html>
<html>
<style>
body
{
background-color:#d0e4fe;
}
h1
{
color:#342D7E;
text-align:center;
}
p
{
font-family:"Times New Roman";
font-size:20px;
.Login {
    color: #3e5706;
    background: #a5cd4e;

    display: inline-block;
    position: relative;
    margin: 10px;
    padding: 0 20px;
    text-align: center;
    text-decoration: none;
    font: bold 12px/25px Arial, sans-serif;
 
    text-shadow: 1px 1px 1px rgba(255,255,255, .22);
 
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
 
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
 
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
    transition: all 0.15s ease;
}
}
</style>
	<head><title><%= title %></title></head>
	<body>
		<h1><center>Welcome to <%= title %></center> </h1>
		<form name = 'login' method= 'post' action='/login'>
		<br>
		<center>
			Username: <input type="text" name="username">
			<br>
			Password: <input type="password" name="password" >
			<br>
			<input type="Submit" value="Login">
			<a href="#" class="login button">Login</a>
		</center>
		</form>
		<form name = newUser method= 'post' action = '/signup-trans'>
			<center>
				<input type= "submit" value= "Sign Up" onclick= "SignUp(this.form)">
			</center>
		</form>

	</body>
</html>
