<!DOCTYPE html>
<html>
<style>
body
{
background-color:#d0e4fe;
}
h1
{
color:#342D7E;
text-align:center;
}
p
{
font-family:"Times New Roman";
font-size:20px;
a.button
{
background-color:#d0e4fe;
display: block;
float: left;
font: normal 13px Tahoma; /* Change 13px as desired */
line-height: 16px; /* This value + 4px + 4px (top and bottom padding of SPAN) must equal height of button background (default is 24px) */
height: 24px; /* Height of button background height */
padding-left: 11px; /* Width of left menu image */
text-decoration: none;
}
}
</style>
	<head><title><%= title %></title></head>
	<body>
		<h1><center>Welcome to <%= title %></center> </h1>
		<form name = 'login' method= 'post' action='/login'>
		<br>
		<center>
			Username: <input type="text" name="username">
			<br>
			Password: <input type="password" name="password" >
			<br>
			<input type="Submit" value="Login">
			<div class="button">
				<a class="loginbutton" href="/home"><span>Login</span></a>
			</div>
		</center>
		</form>
		<form name = newUser method= 'post' action = '/signup-trans'>
			<center>
				<input type= "submit" value= "Sign Up" onclick= "SignUp(this.form)">
			</center>
		</form>

	</body>
</html>
