<!DOCTYPE html>
<html>
<style>
body
{
background-color:#d0e4fe;
}
h1
{
color:#342D7E;
text-align:center;
}
input[type="button"], input[type="submit"] { 
color:#050; 
font: bold 84% 'trebuchet ms',helvetica,sans-serif; 
background-color:#fed;  
border:1px solid; 
border-color: #696 #363 #363 #696; 
} 
</style>
	<head><title><%= title %></title></head>
	<body>
		<h1><center>Welcome to <%= title %></center> </h1>
		<form name = 'login' method= 'post' action='/login'>
		<br>
		<center>
			Username: <input type="text" name="username">
			<br>
			Password: <input type="password" name="password" >
			<br>
			<input type="Submit" value="Login">
		</center>
		</form>
		<form name = newUser method= 'post' action = '/signup-trans'>
			<center>
				<input type= "submit" value= "Sign Up" onclick= "SignUp(this.form)">
			</center>
		</form>

	</body>
</html>
