<!DOCTYPE html>
<html>
	<head><title><%= title %>r</title></head>
	<body>
		<h1><center>Welcome to <%= title %></center> </h1>
		<form>
		<br>
		<center>
			Username: <input type="text" name="username">
			<br>
			Password: <input type="password" name="password" >
			<br>
			<input type="button" value="Login" onClick="Login(this.form);">
		</center>
		</form>
	</body>
</html>