html, body{
height:100%;
}
body
{
background-color:#1B2533;
margin:0;
}
h1
{
color:#D0E4FE;
position:absolute;
left:50%;
width: 200px;
margin: 0 0 0 -100px;
text-align:center;
font-size:22px;
font-weight:normal;
}
#authContainer{
margin: 5% auto;
width:300px;
background-color:#d0e4fe;
border:1px solid #000;
}
#authContainer header{
position:relative;
box-shadow:none;
border-bottom: 1px solid #000;
}
#authContainer h1{
position:relative;
}
#authContainer form{
padding: 0 8px 8px;
}
#authContainer hr{
border-top:1px solid #425C7E;
border-bottom:1px solid #fff;
margin: 0;
}
#authContainer label{
display:block;
font-size:14px;
margin-top:4px;
}
#authContainer form div{
text-align:right;
}
#authContainer input{
border:0;
outline: 1px solid #425C7E;
}
input[type="button"], input[type="submit"], button[type="submit"]{ 
font: helvetica; 
border:1px solid;
margin-top: 8px;
font-size:14px;
background-color:#425C7E;
color:#D0E4FE;

}
input[type="text"], input[type="password"], input[type="email"]{
width:100%;
color:#000; 
font: helvetica;
font-size:14px;
display:block;
}

header{
position:fixed;
right:0;
left:0;
top:0;
box-shadow: 0 2px 3px #000;
background:red;
background-color:#425C7E;
font-family: helvetica, arial, sans-serif;
font-size: 14px;
border-bottom: 1px solid #5677A3;
}
header div{
margin:0 auto;
width: 900px;
}
nav{
display:block;
}
nav ul {
list-style-type: none;
margin: 0;
padding: 0;
float:left;
}
.floatRight{
float:right;
}
nav ul li {
float: left;
}
nav li ul {
display: none;
}
nav ul li a {
display: block;
text-decoration: none;
color: #D0E4FE;
padding: 5px 15px 5px 15px;
background: #425C7E;
}
nav ul li a:hover {
background: #354964;
}
nav li:hover ul {
display: block;
position: absolute;
}
nav li:hover li {
float: none;
font-size: 12px;
}
nav li:hover a { 
background: #354964; 
color:#fff;
}
li:hover li a:hover {
background: #425C7E;
color:#fff;
}
#pageContainer{
margin:0px auto;
width:900px;
background-color:#d0e4fe;
box-shadow: 0 0 6px 2px #000;
padding-top:40px;
display:table;
height:100%;
}

#pageContainer input[type="text"]{
width:800px;
margin: 0px 50px 0px 50px;
color:#000; 
font: helvetica;
font-size:14px;
display:block;
}

#TwitterFeed {
display: inline-block;
width:700px;
padding: 0;
float:right;
}

#TwitterFeed ul{
list-style-type: none;
margin: auto;
padding: 0;
}

#TwitterFeed ul li {
display: block;
list-style-type: none;
margin: 10px;
background: #FFF;
border:2px solid #1B2533;
padding: 10px 10px 10px 10px;
}

#TwitterFeed ul li a{
display: block;
text-align: center;
}

#TwitterFeed ul li button[type="submit"]{
display: inline-block;
float: right;
}

#avatar {
display: block;
border:2px solid #1B2533;
text-align: center;
margin-left: 210px;
margin-right: 10px;
margin-top: 10px;
}

#avatar  h2{
color:#1B2533;
text-align:center;
font-size:26px;
font-weight:bold;
}

aside{
display: inline-block;
margin-top: 40px;
box-shadow: 0 2px 3px #000;
border:1px solid #5677A3;
width:180px;
float:left;
background-color:#425C7E;
font-family: helvetica, arial, sans-serif;
font-size: 16px;
}

aside ul{
list-style-type: none;
margin: 0;
padding: 0;
}
aside ul li a {
display: block;
text-decoration: none;
text-align: center;
color: #D0E4FE;
padding: 15px 15px 15px 15px;
background: #425C7E;
}
aside ul li a:hover {
background: #354964;
}
aside li:hover ul {
display: block;
position: absolute;
}
aside li:hover li {
float: none;
font-size: 12px;
}
aside li:hover a { 
background: #354964; 
color:#fff;
}
li:hover li a:hover {
background: #425C7E;
color:#fff;
}

h2
{
color:#1B2533;
text-align:center;
font-size:24px;
font-weight:bold;
}

h3
{
color:#1B2533;
font-style:italic;
font-size:18px;
font-weight:normal;
}

h4
{
color:#1B2533;
text-align:center;
font-size:14px;
font-weight:normal;
}